.container{
    width:80%;
    margin-left: 50px;
    background-color: #fff;
}
.header{
    margin-left: 30px;
}
.header-table > th{
    width:250px;
    margin-left: 10px;
}
.tr-table{
    text-align: center;
    height: 80px;
}

.add-button{
    margin-left: 30px;
    margin-bottom: 30px;
}
.add-button > button {
    width:100px;
    height: 40px;
    background-color: aqua;
}

.button-delete{
    width:100px;
    height: 40px;
    background-color: red;
}