.container{
    margin-top: 50px;
}
.container__orders{
    width:60%;
    margin: auto;
}
.container__orders > hr{
    background-color:#000
}
.cart-item{
    display:block;
    margin-top: 10px;
    margin-left: 30px;
    height: 100px;
    background-color: var(--milk-bg);
    border-radius: 10px;
}
.cart-item > div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header{
    margin-left: 200px;
}
.name-item__main{
    font-size: 20px;
    font-weight:600
}

hr {
    color: #000;
    height: 2px;
}